body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.contenido {
    text-align: center;
    padding: 20px;
    background-color: #006262;
    margin-bottom: 20px;
}

.menu {
    background-color: #00ffff;
    color: #fff;
    padding: 10px 0;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}

.menu ul li a:hover {
    background-color: #0096d2;
}

#searchInput {
    padding: 8px;
    width: 300px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#productTable {
    width: 100%;
    border-collapse: collapse;
}

#productTable th, #productTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

#productTable th {
    background-color: #f2f2f2;
    text-align: left;
}

#productTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#productTable tr:hover {
    background-color: #ddd;
}
